/* === COLORS === */
$primary_red: hsl(0, 78%, 62%);
$primary_cyan: hsl(180, 62%, 55%);
$primary_orange: hsl(34, 97%, 64%);
$primary_blue: hsl(212, 86%, 64%);

$neutral_very_dark_blue: hsl(234, 12%, 34%);
$neutral_grayish_blue: hsl(229, 6%, 66%);
$neutral_very_light_gray: hsl(0, 0%, 98%);

/* === FONTS === */
$heading1_size: 24px;
